.DALLE-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.input{
    height: 20px;
    margin: 20px;
    width: 300px;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(0, 59, 0);

}

.button{
    background-color: rgb(0, 59, 0);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.result-image{
    margin-top: 20px;
    width: 350px;
}
