.home-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ALFRED . . ."
      "ALFRED info info info"
      "ALFRED info info info"
      "ALFRED info info info"
      "ALFRED . . ."; 
}

.ALFRED{
    color: white;
    grid-area: ALFRED
}

.info { 
    grid-area: info; 
    color: white;
}

.ALFRED > ul{
    list-style-type: none;
}

.ALFRED > ul > li{
    padding-bottom: 100px;
    font-weight: bolder;
}