.App{
  background-color: rgb(24, 26, 27);
  min-height: 100vh;
}

.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
}

.NavBar > a:link {
  padding: 20px;
  color: white;
  text-decoration: none;
  

}

.NavBar > a:visited{
  text-decoration: none;
  color: white;
  text-decoration: none;

}

.NavBar > a:hover {
  color: rgb(0, 143, 17);
  text-decoration: none;

}

.NavBar > a:active {
  color: rgb(0, 143, 17);
}

.ChatGPT-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

