.App{
  background-color: rgb(25, 27, 169);
  min-height: 100vh;
}

.App-Container{
  background-color: rgb(25, 27, 169);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ChatGPT-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.DALLE-Container{
  display: flex;
  justify-content: center;
  align-items: center;
}