.App{
  background-color: rgb(24, 26, 27);
  min-height: 100vh;
}

.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.NavBar > a:link {
  padding: 20px;
  color: rgb(0, 59, 0);
  text-decoration: none;
  

}

.NavBar > a:visited{
  text-decoration: none;
  color: rgb(0, 59, 0);
  text-decoration: none;

}

.NavBar > a:hover {
  color: rgb(76, 1, 4);
  text-decoration: underline;

}

.NavBar > a:active {
  color: rgb(76, 1, 4);
}

.ChatGPT-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

